<div *ngIf="isCheckingSession" class="session-loading">Verificando acceso...</div>

<app-login-page *ngIf="!isCheckingSession && !activeUser" (loggedIn)="onLoggedIn($event)"></app-login-page>

<div *ngIf="!isCheckingSession && activeUser" class="dashboard-shell">
  <aside class="sidebar" aria-label="Menu principal">
    <div class="brand">
      <div class="brand__logo">
        <img src="assets/logosaltor.jpg" alt="Logo de SaltorSystem">
      </div>
      <div>
        <h1>SaltorSystem</h1>
        <p>Panel administrativo</p>
      </div>
    </div>

    <nav class="sidebar-nav">
      <section class="menu-group">
        <button class="menu-item" type="button" [class.menu-item--active]="activeView === 'dashboard'" (click)="showDashboard()">
          <span class="menu-item__icon">
            <svg viewBox="0 0 24 24" aria-hidden="true">
              <path d="M4 13h7V4H4zm0 7h7v-5H4zm9 0h7V11h-7zm0-18v7h7V2z" />
            </svg>
          </span>
          <span class="menu-item__label">Inicio</span>
        </button>
      </section>

      <section class="menu-group">
        <div class="submenu-card">
          <div class="submenu-card__header">
            <button class="menu-item menu-item--compact" type="button" (click)="toggleSection('maintenance')">
              <span class="menu-item__icon">
                <svg viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M12 2 4 6v12l8 4 8-4V6zm0 2.2 5.7 2.85L12 9.9 6.3 7.05zM6 8.7l5 2.5v8.2l-5-2.5zm7 10.7v-8.2l5-2.5v8.2z" />
                </svg>
              </span>
              <span class="menu-item__label">Mantenimiento</span>
            </button>
            <span class="submenu-card__arrow" [class.submenu-card__arrow--expanded]="expandedSections['maintenance']">v</span>
          </div>

          <div *ngIf="expandedSections['maintenance']" class="submenu-card__body">
            <button
              *ngFor="let item of maintenanceLinks"
              class="submenu-item"
              type="button"
              [class.submenu-item--active]="activeMaintenanceLabel === item.label && (activeView === 'products' || activeView === 'clients' || activeView === 'suppliers')"
              (click)="selectMaintenanceItem(item)">
              <span class="submenu-item__icon">
                <ng-container [ngSwitch]="item.icon">
                  <svg *ngSwitchCase="'box'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M12 2 4 6v12l8 4 8-4V6zm0 2.2 5.7 2.85L12 9.9 6.3 7.05zM6 8.7l5 2.5v8.2l-5-2.5zm7 10.7v-8.2l5-2.5v8.2z" />
                  </svg>
                  <svg *ngSwitchCase="'users'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M16 11a4 4 0 1 0-3.999-4A4 4 0 0 0 16 11M8 10a3 3 0 1 0-3-3 3 3 0 0 0 3 3m8 3c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4m-8 1c-2.33 0-7 1.17-7 3.5V19h5v-2c0-.76.29-1.46.77-2.08A11.2 11.2 0 0 1 8 14" />
                  </svg>
                  <svg *ngSwitchCase="'truck'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M3 5h11v8h2.3l2.7 2.7V18h1a2 2 0 1 1-4 0H8a2 2 0 1 1-4 0H3zm13 2v4h3.2L17.5 7z" />
                  </svg>
                </ng-container>
              </span>
              <span>{{ item.label }}</span>
            </button>
          </div>
        </div>

        <div class="submenu-card">
          <div class="submenu-card__header">
            <button class="menu-item menu-item--compact" type="button" (click)="toggleSection('settings')">
              <span class="menu-item__icon">
                <svg viewBox="0 0 24 24" aria-hidden="true">
                  <path d="m19.14 12.94.04-.94-.04-.94 2.03-1.58a.5.5 0 0 0 .12-.64l-1.92-3.32a.5.5 0 0 0-.6-.22l-2.39.96a7.3 7.3 0 0 0-1.63-.94L14.4 2.8a.49.49 0 0 0-.49-.4h-3.82a.49.49 0 0 0-.49.4L9.24 5.3a7.3 7.3 0 0 0-1.63.94l-2.39-.96a.5.5 0 0 0-.6.22L2.7 8.82a.5.5 0 0 0 .12.64l2.03 1.58-.04.96.04.94-2.03 1.58a.5.5 0 0 0-.12.64l1.92 3.32a.5.5 0 0 0 .6.22l2.39-.96c.5.39 1.05.7 1.63.94l.36 2.5a.49.49 0 0 0 .49.4h3.82a.49.49 0 0 0 .49-.4l.36-2.5c.58-.24 1.13-.55 1.63-.94l2.39.96a.5.5 0 0 0 .6-.22l1.92-3.32a.5.5 0 0 0-.12-.64zM12 15.5A3.5 3.5 0 1 1 15.5 12 3.5 3.5 0 0 1 12 15.5" />
                </svg>
              </span>
              <span class="menu-item__label">Configuracion</span>
            </button>
            <span class="submenu-card__arrow" [class.submenu-card__arrow--expanded]="expandedSections['settings']">v</span>
          </div>

          <div *ngIf="expandedSections['settings']" class="submenu-card__body">
            <button
              *ngFor="let item of settingsLinks"
              class="submenu-item"
              type="button"
              [class.submenu-item--active]="isSettingsActive(item.label)"
              (click)="selectSettingsItem(item)">
              <span class="submenu-item__icon">
                <ng-container [ngSwitch]="item.icon">
                  <svg *ngSwitchCase="'building'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M4 21h16V7l-5-4-5 4-6-2zm4-9h2v2H8zm0 4h2v2H8zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v6h-2z" />
                  </svg>
                  <svg *ngSwitchCase="'users'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M16 11a4 4 0 1 0-3.999-4A4 4 0 0 0 16 11M8 10a3 3 0 1 0-3-3 3 3 0 0 0 3 3m8 3c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4m-8 1c-2.33 0-7 1.17-7 3.5V19h5v-2c0-.76.29-1.46.77-2.08A11.2 11.2 0 0 1 8 14" />
                  </svg>
                  <svg *ngSwitchCase="'receipt'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M18 2H6v20l3-2 3 2 3-2 3 2zm-3 12H9v-2h6zm0-4H9V8h6z" />
                  </svg>
                  <svg *ngSwitchCase="'tag'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M21.41 11.58 12.42 2.59A2 2 0 0 0 11 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 .59 1.41l8.99 8.99a2 2 0 0 0 2.83 0l7-7a2 2 0 0 0 0-2.82M6.5 8A1.5 1.5 0 1 1 8 6.5 1.5 1.5 0 0 1 6.5 8" />
                  </svg>
                  <svg *ngSwitchCase="'id'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M20 5H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-9 9H5v-1h6zm-2-3a2 2 0 1 1 2-2 2 2 0 0 1-2 2m10 3h-6v-1h6zm0-3h-6V8h6z" />
                  </svg>
                  <svg *ngSwitchCase="'sliders'" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M10 6H3V4h7zm11 0h-9V4h9zM8 13H3v-2h5zm13 0h-11v-2h11zM14 20H3v-2h11zm7 0h-5v-2h5z" />
                  </svg>
                </ng-container>
              </span>
              <span>{{ item.label }}</span>
            </button>
          </div>
        </div>
      </section>

      <section class="menu-group menu-group--modules">
        <ng-container *ngFor="let item of modules">
          <div *ngIf="item.children?.length; else singleModule" class="submenu-card">
            <div class="submenu-card__header">
              <button class="menu-item menu-item--compact" type="button" (click)="toggleSection(item.key!)">
                <span class="menu-item__icon">
                  <ng-container [ngTemplateOutlet]="moduleIcon" [ngTemplateOutletContext]="{ icon: item.icon }"></ng-container>
                </span>
                <span class="menu-item__label">{{ item.label }}</span>
              </button>
              <span class="submenu-card__arrow" [class.submenu-card__arrow--expanded]="expandedSections[item.key!]">v</span>
            </div>

            <div *ngIf="expandedSections[item.key!]" class="submenu-card__body">
              <button
                *ngFor="let child of item.children"
                class="submenu-item"
                type="button"
                [class.submenu-item--active]="activeModuleLabel === item.label && activeModuleChild === child"
                (click)="selectModuleChild(item, child)">
                <span class="submenu-item__icon">
                  <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 17.2 4.8 13l1.4-1.4L9 14.4l8.8-8.8L19.2 7z" />
                  </svg>
                </span>
                <span>{{ child }}</span>
              </button>
            </div>
          </div>

          <ng-template #singleModule>
            <button
              class="menu-item"
              type="button"
              [class.menu-item--active]="isStandaloneModuleActive(item)"
              (click)="selectStandaloneModule(item)">
              <span class="menu-item__icon">
                <ng-container [ngTemplateOutlet]="moduleIcon" [ngTemplateOutletContext]="{ icon: item.icon }"></ng-container>
              </span>
              <span class="menu-item__label">{{ item.label }}</span>
              <span class="menu-item__arrow">></span>
            </button>
          </ng-template>
        </ng-container>
      </section>
    </nav>

  </aside>

  <main class="workspace-area" aria-label="Vista previa">
    <header class="topbar">
      <div class="topbar__brand">
        <span class="topbar__company">{{ companyName }}</span>
      </div>

      <div class="topbar__meta">
        <div class="topbar__user">
          <div class="topbar__avatar">{{ userInitials }}</div>
          <div>
            <strong>{{ userName }}</strong>
            <p>{{ userEmail }}</p>
          </div>
        </div>

        <div class="topbar__date">{{ todayLabel }}</div>
        <button class="topbar__logout" type="button" (click)="logout()">Salir</button>
      </div>
    </header>

    <ng-container *ngIf="activeView === 'dashboard'">
      <app-dashboard-page></app-dashboard-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'invoice_new'">
      <app-invoice-new-page></app-invoice-new-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'suppliers'">
      <app-suppliers-page></app-suppliers-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'clients'">
      <app-clients-page></app-clients-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'products'">
      <app-products-page></app-products-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'rnc'">
      <app-rnc-page></app-rnc-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'ncf'">
      <app-ncf-page></app-ncf-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'ncf_type'">
      <app-ncf-type-page></app-ncf-type-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'users'">
      <app-users-page></app-users-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'company'">
      <app-company-page></app-company-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'settings_other'">
      <app-settings-other-page></app-settings-other-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'invoice_history'">
      <app-invoice-history-page></app-invoice-history-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'invoice_consultation'">
      <app-invoice-consultation-page></app-invoice-consultation-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'quotation'">
      <app-quotation-page></app-quotation-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'cash_opening'">
      <app-cash-opening-page></app-cash-opening-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'cash_closing'">
      <app-cash-closing-page></app-cash-closing-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'cash_movements'">
      <app-cash-movements-page></app-cash-movements-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'accounting'">
      <app-accounting-page [section]="activeModuleChild"></app-accounting-page>
    </ng-container>

    <ng-container *ngIf="activeView === 'report'">
      <app-report-page></app-report-page>
    </ng-container>
  </main>
</div>

<ng-template #moduleIcon let-icon="icon">
  <ng-container [ngSwitch]="icon">
    <svg *ngSwitchCase="'file-text'" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M6 2h9l5 5v15H6zm8 1.5V8h4.5zM9 12h6v-2H9zm0 4h6v-2H9z" />
    </svg>
    <svg *ngSwitchCase="'clipboard'" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M9 2h6l1 2h3v18H5V4h3zm0 6v2h6V8zm0 4v2h6v-2zm0 4v2h4v-2z" />
    </svg>
    <svg *ngSwitchCase="'wallet'" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M20 7H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M6 5h12V3H6a2 2 0 0 0-2 2v1.5A3.96 3.96 0 0 1 6 6m12 7a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 18 12" />
    </svg>
    <svg *ngSwitchCase="'calculator'" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M7 2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m2 3v3h6V5zm0 6v2h2v-2zm4 0v2h2v-2zm-4 4v2h2v-2zm4 0v2h2v-2z" />
    </svg>
    <svg *ngSwitchCase="'chart'" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M5 9h3v10H5zm5-4h3v14h-3zm5 7h3v7h-3zM4 21h16v1H4z" />
    </svg>
  </ng-container>
</ng-template>

<router-outlet></router-outlet>
